{% extends "base.html" %} {% block head %}
<title>Companies</title>
{% endblock %} {% block body %}
<div class="companies">
  <!-- /*navbar*/ -->
  <div
    class="navbar-home d-flex justify-content-between align-items-center p-1"
  >
    <div class="d-flex justify-content-center align-items-center">
      <img src="../static/logo.png" alt="logo" />
      <h5>Lead Hunter</h5>
    </div>
    <h3>Companies</h3>
    <img src="../static/Initials.png" alt="" width="46" />
  </div>
  <!-- navbar complete -->
  <!-- main container -->
  <div class="container" style="padding: 24px">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-center align-items-center m-3">
        <input type="search" placeholder="Search for companies" class="m-2" />
        <button>S</button>
      </div>
      <div class="d-flex">
        <div class="dropdown p-1">
          <button
            class="dropdown-toggle"
            style="
              background-color: white;
              border: 1px solid #dde5e9;
              color: #c7c9d9;
            "
            type="button"
            id="country"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Country
          </button>
          <ul
            class="dropdown-menu"
            aria-labelledby="country"
            style="
              border-radius: 16px;
              filter: drop-shadow(0px 4px 10px rgba(43, 43, 43, 0.24));
            "
          >
            <li><a class="dropdown-item" href="#">🇮🇳 India</a></li>
            <li><a class="dropdown-item" href="#">🇵🇰 Pakistan</a></li>
            <li><a class="dropdown-item" href="#">🇺🇸 United States</a></li>
          </ul>
        </div>
        <div class="dropdown p-1">
          <button
            class="dropdown-toggle"
            style="
              background-color: white;
              border: 1px solid #dde5e9;
              color: #c7c9d9;
            "
            type="button"
            id="category"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Category
          </button>
          <ul
            class="dropdown-menu"
            aria-labelledby="category"
            style="
              border-radius: 16px;
              filter: drop-shadow(0px 4px 10px rgba(43, 43, 43, 0.24));
            "
          >
            <li><a class="dropdown-item" href="#">✈ Aviation</a></li>
            <li><a class="dropdown-item" href="#">🌐 Comuter Networks</a></li>
            <li><a class="dropdown-item" href="#">👗 Fashion</a></li>
            <li><a class="dropdown-item" href="#">🚀 Aerospace</a></li>
          </ul>
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
