{% extends "base.html" %} {% block head %}
<title>Info Scrapper</title>
{% endblock %} {% block body %}
<div
    class="navbar-home d-flex justify-content-between align-items-center p-1"
  >
    <div class="d-flex justify-content-center align-items-center">
      <ion-icon name="chevron-back-outline" class="edit-icon"></ion-icon>
      <img src="../static/logo.png" alt="logo" />
      <h5>Info Scrapper</h5>
    </div>
    <button class="add-padding">Get Started</button>
 </div>
 <div class="content-body">
   <div class="container">
  <div class="input-group">
    <div class="form-outline">
      <input type="search" id="form1" class="form-control" />
      <label class="form-label" for="form1">Search</label>
    </div>
    <button type="button" class="btn btn-primary">
      <ion-icon name="search-outline"></ion-icon>
    </button>
  </div>
  </div>
 </div>


















{% endblock %}