{% extends "base.html" %} {% block head %}
<title>Leads</title>
{% endblock %} {% block body %}
<div class="companies">
  <!-- /*navbar*/ -->
  <div
    class="navbar-home d-flex justify-content-between align-items-center p-1"
  >
    <div class="d-flex justify-content-center align-items-center">
      <a href="{{ url_for("companyinfo")}}"><ion-icon
        name="chevron-back-outline"
        style="color: black; font-size: 36px"
      ></ion-icon></a>
      <img src="../static/logo.png" alt="logo" />
      <h5>Lead Hunter</h5>
    </div>
    <h3>Company Name</h3>
    <img src="../static/Initials.png" alt="" width="46" />
  </div>
  <!-- navbar complete -->
  <!-- main container -->
  <div class="container" style="padding: 24px">
    <div class="d-flex justify-content-center align-items-center m-3">
      <input type="search" placeholder="Search for employees" class="m-2" />
      <button><ion-icon name="search"></ion-icon></button>
    </div>
    <!-- main container -->
    <div class="d-flex flex-wrap">
      <div class="custom-card">
        <div class="name-designation">
          <img src="../static/Initials.png" alt="" width="48">
          <div class="lead-para">Hayat Tamboli</div>
          <div style="
          font-size: 18px;
          line-height: 170%;">CEO</div>
        </div>
        <div class="contact-info">
          <div class="d-flex justify-content-center align-items-center" style="color: #8F90A6;font-size: 18px"><ion-icon class="p-2" name="mail-outline"></ion-icon>hayat.tamboli@gmail.com</div>
          <div class="d-flex justify-content-center align-items-center" style="color: #8F90A6;font-size: 18px"><ion-icon class="p-2" name="call-outline"></ion-icon>+91 7887 537 943</div>
          <div class="d-flex justify-content-center align-items-center" style="color: #8F90A6;font-size: 18px"><ion-icon class="p-2" name="logo-linkedin"></ion-icon><a href="#">/hayattamboli</a></div>
        </div>
        <div><a href="mailto:hayat.tamboli@gmail.com"><button>Send Email</button></a></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
