{% extends "base.html" %} {% block head %}
<title>Lead Hunter</title>
{% endblock %} {% block body %}
<div class="home">
  <img
    src="../static/dotsLeft.png"
    alt=""
    style="
      position: absolute;
      width: 145px;
      height: 145px;
      left: 0px;
      top: 125px;
    "
  />
  <img
    src="../static/dotsRight.png"
    alt=""
    style="position: absolute; right: 0px; top: 250px"
  />
  <div
    class="navbar-home d-flex justify-content-between align-items-center p-1"
  >
    <div class="d-flex justify-content-center align-items-center">
      <img src="../static/logo.png" alt="logo" />
      <h5>Lead Hunter</h5>
    </div>
    <a href="{{ url_for("companies")}}" ><button>Get Started</button></a>
  </div>
  <div class="d-flex justify-content-between align-items-center container">
    <div class="d-flex flex-column">
      <div class="main-title m-3">
        Generate leads <br />
        at lightning <br />
        speed ⚡
      </div>
      <div class="subtitle-home">
        Connect with people that matter in just seconds.
      </div>
      <div class="d-flex justify-content-center align-items-center m-3">
        <input type="search" placeholder="Search for companies" class="m-2" />
        <a href="{{ url_for("companies")}}" > <button class="button-shadow">Get Started</button></a>
      </div>
    </div>
    <div><img src="../static/mainPageIllustration.png" alt="" /></div>
  </div>
</div>
{% endblock %}
